{{define "content"}}

<h2>Hobbies:</h2>
<div id="Hobbies">
    <h2>Photography</h2>
    <p>
        I really like photography, my current gear is all Nikon, 
        i have a D800 (full spectrum modded by me, i replaced the filter with a transparent glass), a D7000 (stock), 
        a Nikon FG-20 (film camera) and a Nikon D5000 i recently repaired and circuit bent to experiment a little.
    </p>
    <h2>Coding</h2>
    <p>
        blablablalblablablablalblablablablalblablablablalblablablablalblablablablalblablablablalblablablablalblablablablalbla
        blablablalblablablablalblablablablalblablablablalblablablablalbla
    </p>
</div>

{{end}}