{{define "content"}}

<div id="intro">
    <a id="selfietext"><img src="data:," alt>Hello ^_^</a>
    <p>Hi, welcome to my website!<br>
        I go by Ambra, from Italy, 19 years old.
        This website will include a blog section and a section dedicated to my hobbies and various projects.
    </p>
</div>

<div id="intro2">
    <div id="posts">
        <h1>Recent posts</h1>
        {{range .posts}}
        <div id="blogpostpreview"> 
            <ul>
                <li id="BlogPostTitle">{{.Title}}</li>
                <button href="/">-></button>
            </ul>
        </div>
        {{end}}
    </div>
    <div id="emptydiv">

    </div>
</div>
{{end}}
