{{define "content"}}

<div id="Hobbies">
    <h1>Photography</h1>
    <p>
        I really like photography, my current gear is all Nikon, 
        i have a D800 (full spectrum modded by me, i replaced the filter with a transparent glass), a D7000 (stock), <br>
        a Nikon FG-20 (film camera) and a Nikon D5000 i recently repaired and circuit bent to experiment a little.
    </p>
    <a href="https://www.flickr.com/photos/190109522@N05/">Check out my Flickr</a>
    <h2>Infrared photography</h2>
    <p>
        I shoot infrared with my Nikon D800, it's a very interesting endeavour and experiementing with different post-processing methods/filters/lenses
        can concur up vastly different results and interesting images.
    </p>
    <div class="imageshowcase">
        <img src="https://live.staticflickr.com/65535/53788960796_9d46b91333_k_d.jpg" alt="Lake como seen from above, in infrared">
        <img src="https://live.staticflickr.com/65535/53700103186_ba361d0fa9_k_d.jpg" alt="A tree seen in infrared">
        <img src="https://live.staticflickr.com/65535/53654299150_bfa6e0d078_k_d.jpg" alt="Landscape photo taken in infrared, alps visible in the background">
    </div>
    <h2>Full spectrum</h2>
    <p>
        The Nikon D800's also able to do full spectrum photography, it's got really good contrast and colours.
    </p>
    <div class="imageshowcase">
        <img src="https://live.staticflickr.com/65535/54171847691_ace911f593_k_d.jpg" alt="Repeater tower, all cellular">
        <img src="https://live.staticflickr.com/65535/54193256943_6383a94505_k_d.jpg" alt="dot matrix train timetable">
        <img src="https://live.staticflickr.com/65535/54193258418_34d2da86a6_k_d.jpg" alt="IBM building in Milan">
    </div>
</div>

{{end}}