{{define "content"}}

<div id="Hobbies">
    <h1>Radio</h1>
    <p>
        I really like photography, my current gear is all Nikon, 
        i have a D800 (full spectrum modded by me, i replaced the filter with a transparent glass), a D7000 (stock), <br>
        a Nikon FG-20 (film camera) and a Nikon D5000 i recently repaired and circuit bent to experiment a little.
    </p>
    <div class="imageshowcase">
        <img src="https://live.staticflickr.com/65535/54171847691_ace911f593_k_d.jpg" alt="Repeater tower, all cellular">
        <img src="https://live.staticflickr.com/65535/54193256943_6383a94505_k_d.jpg" alt="dot matrix train timetable">
        <img src="https://live.staticflickr.com/65535/54193258418_34d2da86a6_k_d.jpg" alt="IBM building in Milan">
    </div>
</div>

{{end}}