<!DOCTYPE html>
<html data-theme="">
    <head>
        <title> {{ .title }} </title>
        <link href="/assets/styles/default.less" rel="stylesheet/less" type="text/css">
        <link href="/assets/styles/{{ .style }}" rel="stylesheet/less" type="text/css">
        <script src="/assets/less.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    </head>
    <body>
        <header>
            <nav>
                <a id="title"> {{.title}} </a>
                <ul id="navmenu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{ template "content" .}}
        </main>
        <footer>
            {{ template "footer" .}}
        </footer>
        <script>
            const html = document.querySelector("html")

            function setTheme(theme) {
                if (theme !== "dark" && theme !== "light") {
                    return alert("invalid theme selection!" + theme);
                }
                
                html.dataset.theme = `theme-${theme}`
                window.localStorage.setItem('override-color', theme)
            }
            
            function switchTheme() {
                const theme = html.dataset.theme.substring('theme-'.length)
                setTheme(theme === 'dark' ? 'light' : 'dark')
            }
            
            const osColors = window.matchMedia('(prefers-color-scheme: dark)');
            const overrideColor = window.localStorage.getItem('override-color')
            
            function overrideColorCheck() {
                if (overrideColor !== null) {
                    setTheme(overrideColor)
                } else {
                    setTheme(osColors.matches ? 'dark' : 'light')
                }
            }

            overrideColorCheck()

            osColors.addEventListener('change', function(e) {
                const isDark = e.matches
                setTheme(isDark ? 'dark' : 'light')
            })
        </script>
    </body>
</html>
