{{define "footer"}}
<div>
    <button onclick="switchTheme()">Theme</button>
    <a>~ WIP</a>
</div>
<ul id="socials">
    <li><a href="https://github.com/ambraglow"><img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Github_logo_svg.svg"></a></li>
    <li><a href="https://bsky.app/profile/ambraglow.org"><img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Bluesky_Logo.svg"></a></li>
</ul>
<ul id="buttons">
    <li><img src="/assets/buttons/cat.gif"></li>
    <li><img src="/assets/buttons/antifa.gif"></li>
    <li><img src="/assets/buttons/github.gif"></li>
    <li><img src="/assets/buttons/noaa.gif"></li>
    <li><img src="/assets/buttons/transnow.gif"></li>
</ul>
{{end}}