@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('../IosevkaEtoile-Bold.woff2') format('woff2'), url('../IosevkaEtoile-Bold.ttf') format('truetype');
}

main {
    p {
        margin: 0% 20% 20%;
        font-family: 'Iosevka Etoile Web';
        color: white;
    }
}