@import url("style.less");

h1 {
    .header();
}

h2 {
    .header2();
}

main {
    .colflex();
    gap: 0.5rem;
    p {
        img {
            order: -1;
            width: 24rem;
            height: auto;
        }
        font-size: 12px;
    }
    #Hobbies {
        .colflex();
        p {
            font-size: 14px;
        }
        .imageshowcase {
            .rowflex();
            justify-content: flex-start;        
            width: 100%;
            height: 100%;
            img {
                max-width: 100%;
                height: 25rem;
                width: auto;
            }
            margin-bottom: 10px;
        }
    }
}

body {
    overflow: hidden scroll;
}

footer {
    visibility: hidden;
}

