@import url("style.less");

h1 {
    .header();
}

h2 {
    .header2();
}

main {
    overflow-y: visible;
    .colflex();
    gap: 1rem;
    p {
        img {
            padding: 10px 10px;
            width: 20rem;
            height: auto;
        }
        font-size: 16px;
    }
    ul {
        color: whitesmoke;
    }
    #Hobbies {
        .colflex();
        p {
            font-size: 14px;
        }
        .imageshowcase {
            .rowflex();
            justify-content: flex-start;        
            width: 100%;
            height: 100%;
            img {
                max-width: 100%;
                height: 25rem;
                width: auto;
            }
            margin-bottom: 10px;
        }
    }
    height: auto;
}

body {
    overflow: hidden scroll;
}

footer {
    height: 0;
    visibility: hidden;
}

