@header-color: #efac00;
@highlighter-color: #fff1ce;
@link-hover-color: #ffb8edf2;
@link-color: (@link-hover-color * 1.2);
@tag-color: rgb(160, 160, 160);

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/IosevkaEtoile-Bold.woff2') format('woff2'), url('../fonts/IosevkaEtoile-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Light';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('../fonts/IosevkaEtoile-Light.ttf') format('truetype');
}
